/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Roboto:wght@300&display=swap');

.deck-wrapper {
  flex-direction: column;
}

.cards {
  /* border: 1px solid white; */
  position: relative;
  width: 650px;
  margin: 0 auto;
  height: 370px;
  cursor: pointer;
}

.cards.mobile {
  display: none;
}

/* TODO change to SCSS, nest */
/* Animation based on https://codepen.io/chrishutchinson/pen/qBrBjG */
.cards.spread .card {
  transform: rotateZ(0deg);
}

.cards.spread .card-1{
  left: 440px;
}

.cards.spread .card-2{
  left: 220px;
}

.welcome-text, .restart-text {
  font-family: 'Roboto', Arial, sans-serif;
  color: #f2f2f2;
  margin: 48px auto 0 auto;
  display: block;
  position: absolute;
  width: 650px;
  height: 100px;
}

.restart-text:hover {
  cursor: pointer;
}

.welcome-text.spread {
  display: none;
}

h1 {
  font-family: 'Gulzar', Georgia, serif;
  color: #f2f2f2;
  letter-spacing: 1.5px;
  margin-top: 0;
}

p {
  font-size: 24px;
}

/* tablet and below */
@media only screen
and (max-width: 768px) {
    p {
      font-size: 18px;
    }

    img {
      max-width: 100%;
    }
}

/* devices with widths smaller than horizontal card spread */
@media only screen and (max-width: 651px) {
  .welcome-text, .restart-text {
    position: absolute;
    top: 48px;
    width: 230px;
  }

  .cards.desktop {
    display: none;
  }

  .cards.mobile {
    display: flex;
    width: 230px;
    top: 72px;
  }

  .cards.spread .card-1{
    left: 0;
    top: 800px;
  }

  .cards.spread .card-2{
    left: 0;
    top: 400px;
  }
}
